<div class="container-fluid pt-4">
    <div class="container-fluid">

        <h3 class="curv-perso pb-3"><u>Nos adoptions :</u></h3>

        <ul *ngFor="let tempAdoption of myAdoptions | paginate: { itemsPerPage: 5, currentPage: p }" class="pb-2">
            <div *ngFor="let tempAnimal of myAdoptedAnimals">
                <div *ngIf="tempAnimal.adoption.id === tempAdoption.id">
                    <li>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>
                                    {{ tempAnimal.name }} le
                                    {{tempAdoption.adoptionDate | date: 'dd/MM/yyyy'}}
                                    par M./Mme {{tempAdoption.adoptiveFamily.lastName.toUpperCase() }}
                                    {{ tempAdoption.adoptiveFamily.firstName}}.
                                </h5>
                            </div>
                        </div>

                    </li>
                    <div>
                        <div class="row">
                            <div class="col-md-7 pl-4">
                                <span class="pr-4">
                                    Adresse: {{ tempAdoption.adoptiveFamily.streetNumber }}
                                    {{ tempAdoption.adoptiveFamily.streetName }}
                                    {{ tempAdoption.adoptiveFamily.zipCode }} {{ tempAdoption.adoptiveFamily.city }}
                                </span>
                                <span class="px-4">Tel:
                                    {{tempAdoption.adoptiveFamily.phoneNumber |slice:0:2 }}-{{tempAdoption.adoptiveFamily.phoneNumber |slice:2:4 }}-{{ tempAdoption.adoptiveFamily.phoneNumber |slice:4:6 }}-{{ tempAdoption.adoptiveFamily.phoneNumber |slice:6:8 }}-{{ tempAdoption.adoptiveFamily.phoneNumber |slice:8:10 }}
                                </span>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-outline-success" (click)="validateAdoption(tempAnimal)">
                                    Valider l'adoption
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-outline-danger" (click)="cancelAdoption(tempAnimal)">
                                    Annuler l'adoption
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </ul>
        <div class="centered">
            <pagination-controls previousLabel="Précédent" nextLabel="Suivant" (pageChange)="p = $event">
            </pagination-controls>
        </div>
    </div>
</div>