
<div class="container-fluid">
  <div class="container-fluid">
    <h2 class="text-center"><i>Site de gestion du refuge de : </i></h2>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link px-4" routerLink="/animals">Nos animaux</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-4" routerLink="/cares">Nos soins à prévoir</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-4" routerLink="/hosts">Nos acceuillants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-4" routerLink="/adoptives">Nos adoptions</a>
            </li>
          </ul>
      </div>
    </nav>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</div>