
<div class="container-fluid">
  <div class="container-fluid">
    <h2 class="text-center" *ngIf="isLoggedIn"><i>Site de gestion du refuge "Les Animaux virtuels"</i></h2>
    
    <nav  *ngIf="isLoggedIn" class="navbar navbar-expand-md navbar-dark bg-dark curv-perso">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link dropdown-toggle px-3" routerLink="/animals" id="animalsBySpecies" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nos animaux</a>
              <div class="dropdown-menu" aria-labelledby="animalsBySpecies">
                <a class="dropdown-item" routerLink="/animals/Chien">Nos chiens</a>
                <a class="dropdown-item" routerLink="/animals/Chat">Nos chats</a>
                <a class="dropdown-item" routerLink="/animals/NAC_Rongeur">Nos rongeurs</a>
                <a class="dropdown-item" routerLink="/animals/NAC_Reptile">Nos reptiles</a>
                <a class="dropdown-item" routerLink="/animals/Autre">Autre Animaux</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" routerLink="/cares">Soins prévus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" routerLink="/free/hosts/">Accueillants disponibles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" routerLink="/full/hosts">Accueillants indisponibles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" routerLink="/adoptives">Adoptions en cours</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
              <a class="nav-link px-3" routerLink="/register">Ajouter Utilisateur</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
              <a href class="nav-link" (click)="logout()">Déconnexion</a>
            </li>
          </ul>
      </div>
    </nav>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</div>