<div class="container">

    <!-- Fait référence au nom définie dans le fichier.ts-->
    <form [formGroup]="veterinaryFormGroup" (ngSubmit)="onSubmit()" autocomplete="off">

        <div formGroupName="veterinary" class="form-area">
            <div class="form-group centered pt-4">
                <div class="col-md-8 border rounded border-dark">
                    <h3 class=" centered curv-perso py-4"><u>Nouveau vétérinaire :</u></h3>
                    <div class="row">
                        <div class="col">
                            <label>Nom :</label>
                        </div>
                        <div class="col">
                            <label>Prénom :</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" formControlName="lastName" placeholder="Dupond">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" formControlName="firstName" placeholder="Jean">
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col">
                            <label>Numéro de rue :</label>
                        </div>
                        <div class="col">
                            <label>Nom de rue:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="number" class="form-control" formControlName="streetNumber" placeholder="10">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" formControlName="streetName"
                                placeholder="Rue du parc">
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col">
                            <label>Code Postal :</label>
                        </div>
                        <div class="col">
                            <label>Ville:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="number" class="form-control" formControlName="zipCode" placeholder="24150">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" formControlName="city" placeholder="Lalinde">
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col">
                            <label>Numéro de téléphone :</label>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-md-6">
                            <input type="text" class="form-control" formControlName="phoneNumber"
                                placeholder="0102030405">
                        </div>
                    </div>

                    <!-- submit button -->
                    <div class="centered row py-4">
                        <button type="submit" class="btn btn-info"
                            [disabled]="!veterinaryFormGroup.valid">Ajouter</button>
                    </div>

                </div>

            </div>
            <div class="centered" *ngIf="!veterinaryFormGroup.valid">
                <div class="col-md-8">
                    <h3 class="curv-perso pt-3">Instructions pour compléter ce formulaire: </h3>
                    <ul>
                        <li>Tous les champs doivent être complétés</li>
                        <li>Le prénom doit commencer par une majuscule et avoir au moins 2 caractères</li>
                        <li>Le nom de la rue doit contenir au moins 5 caractères</li>
                        <li>Le code postal doit contenir 5 chiffres</li>
                        <li>Le numéro de téléphone doit contenir 10 chiffres (pas de tiret, ni d'espace, ni de slash)
                        </li>
                        <li>Le numéro de téléphone doit être unique</li>
                    </ul>
                </div>
            </div>
        </div>
    </form>

</div>