<div class="container-fluid pt-4">
    <div class="container-fluid">
        <h4 class="curv-perso"><u>Descriptif de l'animal :</u></h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Espèce</th>
                    <th scope="col">Race</th>
                    <th scope="col">Sexe</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Arrivée au refuge</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ myAnimal.name }}</td>
                    <td> {{ myAnimal.species }}</td>
                    <td> {{ myAnimal.race }}</td>
                    <td> {{ myAnimal.sexe }}</td>
                    <td> {{ myAnimal.birthDate | date: 'dd/MM/yyyy'}}</td>
                    <td> {{ myAnimal.arrivalDate | date: 'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row pl-4">
        <div class="pr-5 pl-2">
            <button *ngIf="!myAnimal.adopted" (click)="confirmAdoption(myAnimal.id)"
                class="btn btn btn-outline-success">
                Ajouter un adoptant
            </button>
        </div>
        <div class="px-5">
            <button *ngIf="!myAnimal.hostFamily && !myAnimal.adopted" routerLink="/host/{{ myAnimal.id }}"
                class="btn btn btn-outline-warning">
                Ajouter un acceuillant
            </button>
        </div>
        <div class="px-5">
            <button routerLink="/animals/{{ myAnimal.id }}/update" class="btn btn-outline-info">
                Modifier
            </button>
        </div>
        <div class="pl-5" *ngIf="!myAnimal.adopted">
            <button class="btn btn-outline-danger" (click)="deleteAnimal(myAnimal)">
                Supprimer
            </button>
        </div>

        <br>
    </div>

    <br>

    <div class="container-fluid pt-3" *ngIf="myAnimal.adopted">
        <h4 class="curv-perso"><u>Famille d'adoption :</u></h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Numéro de téléphone</th>
                    <th scope="col">Date d'adoption</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ myAnimal.adoption.adoptiveFamily.lastName }}</td>
                    <td> {{ myAnimal.adoption.adoptiveFamily.firstName }}</td>
                    <td> {{ myAnimal.adoption.adoptiveFamily.streetNumber }}
                        {{ myAnimal.adoption.adoptiveFamily.streetName }}
                        {{ myAnimal.adoption.adoptiveFamily.zipCode }} {{ myAnimal.adoption.adoptiveFamily.city }}</td>
                    <td> {{ myAnimal.adoption.adoptiveFamily.phoneNumber |slice:0:2 }}-{{ myAnimal.adoption.adoptiveFamily.phoneNumber |slice:2:4 }}-{{ myAnimal.adoption.adoptiveFamily.phoneNumber |slice:4:6 }}-{{ myAnimal.adoption.adoptiveFamily.phoneNumber |slice:6:8 }}-{{ myAnimal.adoption.adoptiveFamily.phoneNumber |slice:8:10 }}
                    </td>
                    <td> {{ myAnimal.adoption.adoptionDate | date: 'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
        <div class="pb-2">
            <button routerLink="/adoptives/{{ myAnimal.adoption.adoptiveFamily.id }}/update"
                class="btn btn-outline-info">
                Modifier les coordonnées
            </button>
        </div>

    </div>

    <div class="container-fluid pt-3" *ngIf="myAnimal.hostFamily">
        <h4 class="curv-perso"><u>Famille d'acceuil :</u></h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Numéro de téléphone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ myAnimal.hostFamily.lastName }}</td>
                    <td> {{ myAnimal.hostFamily.firstName }}</td>
                    <td> {{ myAnimal.hostFamily.streetNumber }} {{ myAnimal.hostFamily.streetName }}
                        {{ myAnimal.hostFamily.zipCode }} {{ myAnimal.hostFamily.city }}</td>
                    <td> {{ myAnimal.hostFamily.phoneNumber |slice:0:2 }}-{{ myAnimal.hostFamily.phoneNumber |slice:2:4 }}-{{ myAnimal.hostFamily.phoneNumber |slice:4:6 }}-{{ myAnimal.hostFamily.phoneNumber |slice:6:8 }}-{{ myAnimal.hostFamily.phoneNumber |slice:8:10 }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pb-2 row">
            <div class="col-md-3">
                <button routerLink="/hosts/{{ myAnimal.hostFamily.id }}/update" class="btn btn-outline-info">
                    Modifier les coordonnées
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-outline-danger" (click)="backToTheRefuge(myAnimal)">
                    Retour au refuge
                </button>
            </div>
        </div>
    </div>

    <br>
    <div class="container-fluid" *ngIf="veterinaryCares.length > 0">
        <h4 class="curv-perso"><u>Les soins vétérinaires :</u></h4>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Type d'examen</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody *ngFor="let tempCare of veterinaryCares">
                <tr>
                    <td>{{ tempCare.examen }}</td>
                    <td>{{ tempCare.examenDate | date: 'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>


    </div>

    <div *ngIf="!myAnimal.adopted" class="container-fluid">
        <button routerLink="/care/{{ myAnimal.id }}/add" class="btn btn-outline-secondary float-left">
            Ajouter un soin
        </button>
    </div>

    <div class="container-fluid pt-3">
        <br>
        <button routerLink="/animals" class="btn btn-outline-primary float-right">Retour</button>
    </div>

</div>