<div class="row justify-content-start">
    <div class="col-12">
        <div class="container-fluid pt-4">
            <div class="row justify-content-md-center">
                <div class="col-md-2 mx-4 animalsContainer" [ngStyle]="{'border-color': 'green'}">
                    <p class="text-center mt-2">En cours d'adoption</p>
                </div>
                <div class="col-md-2 mx-4 animalsContainer" [ngStyle]="{'border-color': 'orange'}">
                    <p class="text-center mt-2">En famille d'accueil</p>
                </div>
                <div class="col-md-2 mx-4 animalsContainer" [ngStyle]="{'border-color': 'red'}">
                    <p class="text-center mt-2">Au refuge</p>
                </div>
            </div>

            <div class="row pt-4" *ngIf="myAnimals.length !== 0; else noAnimal">

                <!-- loop over the collection of animals-->
                <div *ngFor="let tempAnimal of myAnimals | paginate: { itemsPerPage: 30, currentPage: page }"
                    class="col-md-2">
                    <div class="product-box pb-3">
                        <a routerLink="/animals/details/{{ tempAnimal.id }}" routerLinkActive="active-link">
                            <!-- Si ni adopté, ni en famille d'accueil: bordure rouge, sinon si adopté: bordure verte, sinon (en famille d'acceuil): bordure orange-->
                            <div class="animalsContainer"
                                [ngStyle]="{'border-color':(!tempAnimal.adopted && !tempAnimal.hostFamily) ? 'red' : (tempAnimal.adopted ? 'green' : 'orange') }">
                                <p class="text-center mt-2">{{ tempAnimal.name }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <ng-template #noAnimal>
                <br>
                <div class="alert alert-info" role="alert">
                    Nous n'avons pas d'animal pour cette espèce.
                </div>
            </ng-template>
        </div>

        <div class="pl-2">
            <button routerLink="/animals/add" class="btn btn-outline-secondary float-left ">Ajouter un
                animal</button>
        </div>
    </div>

    <div class="col-12 pt-4">
        <div class="centered">
            <pagination-controls previousLabel="Précédent" nextLabel="Suivant" (pageChange)="page = $event">
            </pagination-controls>
        </div>
    </div>
</div>